html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    
    font-family: "Montserrat", sans-serif;
    background-color: darkgrey;

}

input {
    display: block;
    width: 210px;
}